name: Release
on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v2
        id: cache-autotag
        with:
          path: /usr/local/bin/autotag
          key: ${{ runner.os }}-autotag-v1.3.4
      - name: Install Autotag
        if: steps.cache-autotag.outputs.cache-hit != 'true'
        run: curl -sL https://git.io/autotag-install | sudo sh -s -- -b /usr/local/bin v1.3.4
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Tag sources
        run: |
          if [ $(git rev-parse --abbrev-ref HEAD) != "master" ]; then
            # ensure a local 'master' branch exists at 'refs/heads/master'
            git branch --track master origin/master
          fi

          git checkout HEAD^
          autotag --scheme=conventional
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release Notary Action
        uses: commitsar-app/release-notary@v0.8.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
